* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  background-color: rgb(255, 247, 236);
}

/* TODO LOUKILI */
.container {
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}
.week-days__list {
  list-style-type: none;
  display: flex;
}

.meal-card {
  margin-top: 30px;
}

.meal-card__image img {
  width: 100%;
}

.meal-card__review-face {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.meal-card__comment {
  display: flex;
  margin-top: 15px;
}

.statistics {
  margin-top: 15px;
  text-align: center;
}

.meals-count__circle {
  display: inline-block;
  border: green 5px solid;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.satisfaction-rate {
  margin-top: 30px;
}
/* end LOUKILI */

/*
    <!-- TODO YAHYA-->

    <!-- end YAHYA-->  */

/*   
    <!--TODO WASSIM-->

    <!--end WASSIM-->  */

/* --TODO NOUREDDINE  */

.first--section {
  width: 50%;
  margin-top: 62px;
}
.second--section {
  display: none;
}

#nav--icone {
  color: #0385f0;
  display: none;
}
.home--logo {
  display: flex;
  justify-content: center;
}

.nav--logo {
  width: 248px;
}
.h--one {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  font-weight: bold;
}
.h--oneblue {
  color: #0385f0;
}

.login--input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 31px;
}
.id--input {
  margin: 20px 0px;
  width: 210px;
  height: 28px;
  border: #038dff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
}
.pwd-input {
  margin: 7px 0px;
  width: 210px;
  height: 28px;
  border: #038dff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
}
#icone--home {
  color: #0385f0;
  width: 16px;
}
.input-icons {
  width: 186px;
  border: none;
  color: rgba(121, 112, 112, 0.5);
  outline: none;
}
#connexion {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.connexion--button {
  margin-top: 42px;
  padding: 12px 43px;
  background-color: #0385f0;
  border: none;
}
.remember--me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}
.fa-user-circle:before {
  color: #038dff;
}
.fa-lock:before {
  color: #038dff;
}

.name--socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 91px;
  width: 179px;
}
.paragraphe--footer {
  color: #0385f0;
  font-size: 14px;
}
.icons--footer {
  color: #0385f0;
}

.container--sections {
  display: flex;
  justify-content: center;
}
.remember--me label {
  margin: 10px;
}
/* MediaQuerry  for Destop Size 1024px */
@media screen and (min-width: 1024px) {
  .container--sections {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }

  .second--section {
    background-color: #0385f0;
    display: flex;
    justify-content: center;
    width: 70%;
  }
  #nav--icone {
    display: inline-block;
    position: absolute;
    top: 40px;
    font-size: 25px;
    left: 110px;
  }
}
.connextion-svg {
  width: 48%;
}
.nav--home {
  font-size: 15px;
  font-weight: bold;
}
.home--logo {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -44px;
}
.name--socialmedia {
  margin-top: 136px;
  width: 50vw;
}

/* -----------------end of mediquerry------------------  */

/* -- end Noureddine  */

/*

    <!-- TODO EL BOUKHARI -->

    <!-- end EL BOUKHARI -->   */
